In [1]:
import pandas as pd
import numpy as np

In [2]:
#CPI Excel file
cpi_mon=pd.read_excel('CPI Data.xlsx',sheet_name='monthly')
cpi_ann=pd.read_excel('CPI Data.xlsx',sheet_name='annual')

#Exchange rate file
exchange_mon=pd.read_excel('Exchange rate.xlsx',sheet_name='monthly')
exchange_ann=pd.read_excel('Exchange rate.xlsx',sheet_name='annual')

#Exports Merchandise file
exports_mon=pd.read_excel('Exports Merchandise.xlsx',sheet_name='monthly')
exports_quart=pd.read_excel('Exports Merchandise.xlsx',sheet_name='quarterly')
exports_ann=pd.read_excel('Exports Merchandise.xlsx',sheet_name='annual')

In [3]:
cpi_annual = cpi_ann.iloc[1:]

In [4]:
cpi_annual.rename(columns = {'Unnamed: 0':'Year'}, inplace = True)
cpi_annual['Year'] = cpi_annual.Year.astype('int64').astype('string')
cpi_annual=cpi_annual.fillna(0)

C:\Users\balub\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-4-5094c25b6b6f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cpi_annual['Year'] = cpi_annual.Year.astype('int64').astype('string')

In [5]:
cpi_annual

,Year,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia
1,1989,0.00000,0.00000,0.00000,0.000000,35.24378,0.00000,64.49682,0.00000,0.00000,...,1.036480,57.21002,0.00000,0.301840,0.00000,49.71672,0.00000,0.00000,21.32035,0.119036
2,1990,0.00000,0.00000,0.00000,0.000000,36.50166,0.00000,66.60120,0.00000,0.00000,...,2.202740,60.29819,0.00000,0.424556,0.00000,52.16386,0.00000,0.00000,24.35065,0.222201
3,1991,0.00000,0.00000,0.00000,0.000000,38.06775,0.00000,68.85522,0.00000,0.00000,...,4.446092,62.85179,0.00000,0.569776,0.00000,54.75251,0.00000,0.00000,28.05435,0.452338
4,1992,0.00000,0.00000,0.00000,0.019203,40.46016,0.00000,71.59559,0.00000,0.00000,...,7.488435,64.75546,0.00000,0.748814,0.00000,56.90573,0.00000,0.00000,31.99856,1.174491
5,1993,0.00000,0.00000,0.00000,0.326774,45.49808,0.00000,74.24242,0.00000,13.03742,...,11.539000,66.66682,0.00000,1.034275,0.00000,59.44683,46.15621,0.00000,35.08899,3.325080
6,1994,0.00000,37.83909,0.00000,16.546110,54.29755,0.00000,76.43098,0.00000,14.97400,...,16.701980,68.40512,0.00000,1.663291,0.00000,63.17974,51.73213,0.00000,38.19144,5.134432
7,1995,0.00000,40.79339,0.00000,45.592440,62.35449,0.00000,78.13318,0.00000,17.85812,...,23.759580,70.32417,0.00000,2.659984,0.00000,66.76036,50.22999,0.00000,41.53439,6.919976
8,1996,0.00000,46.00520,0.00000,54.087610,67.43928,0.00000,79.59222,0.00000,22.58037,...,30.491400,72.38551,0.00000,5.316661,0.00000,69.48015,52.92964,0.00000,44.58874,9.919690
9,1997,0.00000,61.24117,0.00000,61.534930,69.75771,0.00000,80.59297,0.00000,29.60436,...,36.536360,74.07766,0.00000,7.977128,0.00000,71.55627,56.56157,0.00000,48.43675,12.340090
10,1998,0.00000,73.89446,0.00000,66.880360,71.25377,0.00000,81.41601,0.00000,33.30401,...,40.485400,75.22756,0.00000,10.831510,0.00000,73.13130,57.81667,0.00000,51.81578,15.371550
11,1999,0.00000,74.20104,0.00000,67.363740,71.81015,0.00000,81.85559,0.00000,34.43285,...,42.777310,76.87355,0.00000,13.384480,0.00000,74.71288,57.96975,0.00000,54.44925,19.482270
12,2000,0.00000,74.22891,0.00000,66.842270,72.84490,82.12528,83.76356,50.53449,42.80544,...,44.814070,79.46947,74.08350,15.553500,50.15503,76.70466,58.53011,0.00000,57.38336,24.553220
13,2001,0.00000,76.51431,0.00000,68.954410,74.16262,83.27733,85.98017,51.32244,46.78471,...,46.770490,81.71541,74.75089,17.502510,49.93855,78.84189,60.77666,40.27060,60.61809,29.790810
14,2002,0.00000,80.48123,0.00000,69.670150,74.95567,85.28236,87.55144,52.73777,46.14579,...,53.302790,83.01144,76.13789,21.428950,51.84794,80.56617,65.66937,45.19913,66.16162,36.433040
15,2003,0.00000,82.40431,0.00000,72.932240,76.50411,86.98249,88.72989,53.85650,51.05914,...,63.632270,84.89588,76.29472,28.091320,53.52492,82.76780,65.74544,50.09526,70.04570,44.218010
16,2004,67.45988,84.75474,0.00000,77.956230,79.57977,88.74831,90.58174,57.46960,55.23396,...,69.460040,87.16874,78.55308,34.200350,57.67587,85.09008,76.47059,56.36473,71.04377,52.161700
17,2005,75.28951,86.74285,0.00000,78.399710,82.02700,90.61091,92.65806,62.97343,62.55360,...,72.724860,90.12616,81.48580,39.656890,62.45412,87.55064,77.89047,63.02212,73.42472,61.708410
18,2006,80.75168,88.82386,0.00000,80.672410,84.90822,92.23084,93.98616,68.15410,64.27096,...,77.377550,93.03358,83.96999,45.071690,67.07523,90.06942,80.77248,69.85674,76.81578,67.295180
19,2007,87.60176,91.40654,87.55417,84.229480,89.15771,93.53688,96.02507,79.45789,69.67747,...,83.656460,95.68752,89.77710,53.501320,72.64042,92.83129,85.27721,75.37900,82.31121,74.461160
20,2008,114.36840,94.50019,98.27991,91.907130,95.49776,98.52595,99.10213,95.97159,86.68362,...,90.246140,99.36106,98.81427,69.749750,89.43154,97.30247,95.14030,89.68311,91.35402,83.722190
21,2009,104.89520,96.64623,99.81485,95.138600,97.15650,97.98390,99.61654,97.26711,95.83345,...,96.619520,99.00779,99.23082,88.638640,95.44049,98.66394,101.15790,94.53296,97.85955,94.935400
22,2010,105.83140,100.09290,100.69120,102.894300,101.80390,101.28600,101.41230,102.77660,102.05620,...,103.091800,100.63160,100.70000,113.623600,104.22890,101.35830,101.94390,105.09690,102.03220,103.007700
23,2011,116.62800,103.51170,101.57460,110.605400,108.12580,104.78720,104.71380,110.74570,111.84560,...,111.434800,103.80830,103.90830,143.268300,123.69260,105.36230,107.24310,125.63650,107.11880,109.637200
24,2012,125.04650,105.62990,102.24730,113.361900,112.67160,108.32570,107.31390,111.86040,132.15790,...,120.458600,105.95650,106.60830,173.453500,134.94370,108.61920,109.44050,138.05620,113.14330,116.846800
25,2013,134.61800,107.67370,103.37320,119.839000,117.71500,109.47340,109.46500,114.57170,142.64850,...,130.788000,107.50860,107.46670,243.943900,143.83770,111.81140,110.10820,153.19880,119.66090,125.000000
26,2014,140.81620,109.43890,105.79860,123.458100,121.85220,110.66610,111.22330,116.23030,148.93270,...,142.398600,109.25260,107.67500,395.600600,149.71210,115.54100,109.66020,165.61510,126.94810,134.760200
27,2015,139.82200,111.52920,110.10460,128.021100,125.01180,111.73840,112.24280,120.93570,157.19060,...,154.739200,109.38220,105.80830,877.197200,150.65870,120.82080,110.45760,197.86720,132.75610,148.383500
28,2016,145.94640,112.95990,111.88550,126.197700,128.56550,111.19150,113.24350,135.97810,165.92670,...,169.655200,110.76210,105.65000,3113.599000,154.68150,137.60350,111.89620,0.00000,141.17360,174.899200
29,2017,153.21130,115.20810,114.08610,127.383200,131.51740,113.89630,115.60040,153.44370,192.56220,...,180.204500,113.12150,107.92500,0.000000,160.12470,155.07180,113.72840,0.00000,148.61710,186.402900
30,2018,154.48480,117.55850,117.96560,130.682700,134.72080,0.00000,117.49590,156.69670,190.60670,...,193.075500,115.73920,109.90000,0.000000,165.46690,158.86920,116.73720,0.00000,154.65770,199.274400

In [6]:
cpi_mon.head()

,Unnamed: 0,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,Uruguay,United States,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia
0,1988M12,NaN,NaN,NaN,NaN,33.23211,NaN,63.07520,NaN,NaN,...,0.720415,55.61017,NaN,0.199333,NaN,48.23800,NaN,NaN,19.62482,0.095229
1,1989M01,NaN,NaN,NaN,NaN,34.38592,NaN,63.63636,NaN,NaN,...,0.752198,55.88706,NaN,0.201556,NaN,48.59190,NaN,NaN,19.91342,0.095229
2,1989M02,NaN,NaN,NaN,NaN,34.60887,NaN,63.74860,NaN,NaN,...,0.794576,56.11781,NaN,0.207910,NaN,48.75023,NaN,NaN,20.20202,0.095229
3,1989M03,NaN,NaN,NaN,NaN,35.11426,NaN,63.86083,NaN,NaN,...,0.858142,56.44086,NaN,0.252126,NaN,49.03835,NaN,NaN,20.49062,0.095229
4,1989M04,NaN,NaN,NaN,NaN,35.52607,NaN,64.08530,NaN,NaN,...,0.900519,56.81005,NaN,0.286180,NaN,49.49379,NaN,NaN,20.77922,0.095229

In [7]:
cpi_mon.rename(columns = {'Unnamed: 0':'Year_Month'}, inplace = True)

In [8]:
def get_quarter(month):
    if month in ['01','02','03']:
        return "Q1"
    elif month in ['04','05','06']:
        return "Q2"
    elif month in ['07','08','09']:
        return "Q3"
    elif month in ['10','11','12']:
        return "Q4"
    else:
        return "Invalid Month"

In [9]:
month_dict = {
    '01': "January",
    '02': "February",
    '03': "March",
    '04': "April",
    '05': "May",
    '06': "June",
    '07': "July",
    '08': "August",
    '09': "September",
    '10': "October",
    '11': "November",
    '12': "December"
}

In [10]:
year_mon = []
year_qrt = []
year = []
for i in cpi_mon['Year_Month']:
    year.append(i[0:4])
    year_mon.append(month_dict[i[5:]])
    year_qrt.append(get_quarter(i[5:]))
cpi_mon['Year_Month'] = year_mon
cpi_mon['Year'] = year
cpi_mon['Quarter'] = year_qrt
cpi_mon.rename(columns = {'Year_Month':'Month'}, inplace = True)

In [11]:
cpi_mon=cpi_mon.fillna(0)

In [12]:
cpi_mon.head()

,Month,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Year,Quarter
0,December,0.0,0.0,0.0,0.0,33.23211,0.0,63.07520,0.0,0.0,...,0.0,0.199333,0.0,48.23800,0.0,0.0,19.62482,0.095229,1988,Q4
1,January,0.0,0.0,0.0,0.0,34.38592,0.0,63.63636,0.0,0.0,...,0.0,0.201556,0.0,48.59190,0.0,0.0,19.91342,0.095229,1989,Q1
2,February,0.0,0.0,0.0,0.0,34.60887,0.0,63.74860,0.0,0.0,...,0.0,0.207910,0.0,48.75023,0.0,0.0,20.20202,0.095229,1989,Q1
3,March,0.0,0.0,0.0,0.0,35.11426,0.0,63.86083,0.0,0.0,...,0.0,0.252126,0.0,49.03835,0.0,0.0,20.49062,0.095229,1989,Q1
4,April,0.0,0.0,0.0,0.0,35.52607,0.0,64.08530,0.0,0.0,...,0.0,0.286180,0.0,49.49379,0.0,0.0,20.77922,0.095229,1989,Q2

In [13]:
exchange_ann.head()

,Period,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1989,0.0,0.000,0.0000,3.675000,0.000000,0.0,213.1695,0.00000,1.262848,...,0.0,0.0,0.00,0.0000,85.26528,0.0,0.00000,2.621661,0.0,0.0
1,1990,0.0,0.000,0.0000,3.674964,0.000000,0.0,242.0275,0.00000,1.279588,...,0.0,0.0,0.00,0.0000,90.01011,0.0,0.00000,2.587400,0.0,0.0
2,1991,0.0,0.000,0.0000,3.675188,0.000000,0.0,282.4442,0.00000,1.283241,...,0.0,0.0,0.00,0.0000,89.66550,0.0,0.00000,2.759186,0.0,0.0
3,1992,0.0,0.000,0.0000,3.673874,0.991757,0.0,290.6883,0.00000,1.361321,...,0.0,0.0,0.00,0.0000,91.20521,0.0,0.00000,2.853479,0.0,0.0
4,1993,0.0,4903.561,110.0993,3.675296,0.998979,0.0,299.6200,2.69682,1.471305,...,0.0,0.0,10698.57,122.3616,91.83828,0.0,16.48504,3.269305,0.0,0.0

In [14]:
exchange_mon.head()

,Period,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,St. Vincent and the Gre0dines,"Venezuela, RB",Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1988M12,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0
1,1989M01,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0
2,1989M02,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0
3,1989M03,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0
4,1989M04,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0

In [15]:
year_mon = []
year_qrt = []
year = []
for i in exchange_mon['Period']:
    year.append(i[0:4])
    year_mon.append(month_dict[i[5:]])
    year_qrt.append(get_quarter(i[5:]))
exchange_mon['Period'] = year_mon
exchange_mon['Year'] = year
exchange_mon['Quarter'] = year_qrt
exchange_mon.rename(columns = {'Period':'Month'}, inplace = True)

In [16]:
exchange_mon.head()

,Month,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe,Year,Quarter
0,December,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0,1988,Q4
1,January,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0,1989,Q1
2,February,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0,1989,Q1
3,March,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0,1989,Q1
4,April,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0,1989,Q2

In [17]:
exports_annual = exports_ann.iloc[1:]

In [18]:
exports_annual.rename(columns = {'Unnamed: 0':'Year'}, inplace = True)
exports_annual['Year'] = exports_annual.Year.astype('int64').astype('string')
exports_annual=exports_annual.fillna(0)

C:\Users\balub\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-18-685321b1a8c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports_annual['Year'] = exports_annual.Year.astype('int64').astype('string')

In [19]:
exports_annual

,Year,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
1,1991,22191.58,0.0,80560.51,0.0,53953.57,0.0000,0.00,0.0,0.00,...,47745.83,0.000,0.00000,66384.82,44867.88,51.61588,64603.98,0.000,528704.3,0.0
2,1992,22254.20,0.0,85549.90,0.0,63269.99,0.0000,0.00,0.0,0.00,...,51734.70,0.000,0.00000,66534.56,50383.36,89.88207,68509.85,0.000,561466.6,0.0
3,1993,24153.33,0.0,90912.32,0.0,73589.75,0.0000,0.00,0.0,0.00,...,61247.96,0.000,0.00000,72278.16,57262.15,156.75590,71342.15,0.000,579401.9,0.0
4,1994,28583.86,0.0,96492.75,0.0,75080.52,0.0000,0.00,0.0,0.00,...,78650.06,0.000,0.00000,83427.53,66941.26,521.16430,77694.99,0.000,625109.1,4948934.0
5,1995,35332.53,0.0,99382.24,296008.8,70497.63,0.0000,0.00,0.0,0.00,...,91012.18,0.000,0.00000,90334.67,76568.04,837.45090,87338.68,0.000,679022.4,5375153.0
6,1996,38010.47,0.0,111499.00,298219.9,72426.13,0.0000,0.00,0.0,0.00,...,100193.80,0.000,0.00000,95017.06,67977.19,1677.73400,92603.80,0.000,722192.0,5717860.0
7,1997,43762.63,0.0,120556.30,300498.7,79762.12,345.1160,0.00,0.0,0.00,...,111750.40,0.000,0.00000,105071.30,71003.94,3721.30100,99736.24,0.000,807117.2,6257779.0
8,1998,49340.98,0.0,120819.30,309130.8,82731.66,376.0994,0.00,0.0,43698.06,...,111914.70,0.000,0.00000,112644.10,76007.31,6730.80300,99925.15,0.000,826166.3,6470534.0
9,1999,48286.96,0.0,126807.30,313968.3,89280.67,420.5794,0.00,0.0,48097.36,...,117329.00,0.000,0.00000,118339.10,84420.68,11575.74000,115726.80,0.000,853250.0,6787701.0
10,2000,49195.51,0.0,138731.50,325061.4,98714.14,455.4238,0.00,0.0,55794.18,...,135819.80,0.000,0.00000,129882.30,103156.20,18581.23000,137930.60,0.000,943662.1,7609944.0
11,2001,52195.37,0.0,140234.20,334087.0,108312.10,438.4557,0.00,0.0,62857.62,...,132475.10,0.000,0.00000,128114.50,104263.10,43178.38000,123081.00,0.000,887192.0,7664020.0
12,2002,52322.55,0.0,141167.70,351872.1,117484.70,440.5935,0.00,0.0,66626.37,...,148105.40,1000.611,0.00000,130377.40,107997.30,61245.78000,135660.00,1000.611,852055.2,7832855.0
13,2003,54948.51,0.0,138962.90,349586.2,135928.30,430.6610,52997.97,0.0,72135.50,...,191228.00,1066.835,0.00000,136732.30,119872.60,70006.47000,151550.00,1066.835,876980.9,8128190.0
14,2004,54915.27,0.0,145759.80,352831.0,161484.30,446.2890,60808.09,0.0,87401.58,...,228405.90,1265.354,0.00000,150168.70,136048.90,76682.92000,174674.10,1265.354,949328.6,8812893.0
15,2005,61288.40,0.0,150830.30,355717.2,176755.60,449.8729,62195.93,1035820.0,96413.46,...,254619.50,1463.421,0.00000,155767.80,145846.20,79317.22000,187876.50,1463.421,1017399.0,9451645.0
16,2006,64065.11,1762226.0,153890.80,358324.7,182557.60,454.4501,64541.78,1250570.0,111785.70,...,282925.40,1495.944,0.00000,166655.70,161982.90,95270.98000,208365.20,1495.944,1118483.0,10481078.0
17,2007,67923.91,1977817.0,157565.80,365504.2,192766.80,454.2656,68820.47,1420107.0,127678.80,...,306881.20,1879.700,0.00000,168257.40,181521.00,95560.40000,223965.70,1879.700,1193213.0,11176252.0
18,2008,67179.10,1966093.0,166063.00,367447.5,187045.70,427.9975,67604.68,1402543.0,133623.60,...,320029.60,1982.522,0.00000,171343.10,189927.90,101628.10000,226632.10,1982.522,1261018.0,11344628.0
19,2009,60023.66,1754160.0,159379.80,381114.5,168021.30,365.3927,65529.32,1241514.0,115439.50,...,286125.70,2726.781,56.26358,139244.80,162260.60,112347.80000,202719.40,2726.781,1085206.0,10036016.0
20,2010,68264.15,2149107.0,178062.00,374343.5,183238.70,395.9683,65715.18,1568673.0,137882.80,...,345934.60,2406.937,66.25549,160521.60,188831.00,117616.00000,256254.90,2406.937,1252458.0,11587489.0
21,2011,69768.49,2243627.0,179091.30,367010.6,188879.90,424.7373,68573.15,1638641.0,153939.20,...,367756.10,2510.792,73.64404,171178.70,205765.70,139725.20000,266604.00,2510.792,1344597.0,12162698.0
22,2012,65697.79,2302064.0,184582.80,370732.2,188948.80,435.2668,70017.87,1697085.0,159673.70,...,368935.90,3135.248,82.74376,167224.10,210493.00,173495.20000,265795.20,3135.248,1397313.0,12402785.0
23,2013,63288.94,2410489.0,195833.50,370224.7,195010.20,444.7791,72672.86,1792743.0,163083.30,...,383805.40,3373.639,87.22370,163895.40,211009.00,183001.90000,276191.10,3373.639,1433342.0,12661821.0
24,2014,58352.33,2563743.0,206921.60,374254.8,191186.30,466.2965,73861.92,1919820.0,180054.90,...,393277.90,3065.586,91.58199,164751.00,212844.80,220984.10000,290097.60,3065.586,1480185.0,13082523.0
25,2015,57395.60,2571950.0,213902.50,385915.2,207865.90,467.9437,72896.57,1914839.0,196038.90,...,394916.20,4282.243,97.57113,170620.60,209078.30,278274.80000,283191.50,4282.243,1464425.0,13487933.0
26,2016,61266.24,2571423.0,228136.40,364903.6,214051.10,470.2580,72660.40,1912261.0,207237.70,...,395946.50,4995.761,103.20390,175780.50,210790.60,320703.70000,288395.40,4995.761,1460203.0,13774844.0
27,2017,61013.20,2738630.0,228618.90,357317.1,228728.20,479.5822,71263.73,2015050.0,221517.80,...,424983.80,5466.110,107.31260,182405.50,223469.90,420187.20000,313299.80,5466.110,1519418.0,14556736.0
28,2018,0.00,0.0,0.00,0.0,0.00,0.0000,0.00,0.0,0.00,...,0.00,0.000,0.00000,0.00,0.00,0.00000,0.00,0.000,0.0,0.0

In [20]:
exports_quart

,Unnamed: 0,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991Q1,4416.531,NaN,18101.60,NaN,13168.76,NaN,NaN,NaN,NaN,...,11251.91,NaN,NaN,16794.79,10477.56,9.175394,14286.69,NaN,128363.7,NaN
2,1991Q2,6318.661,NaN,20387.41,NaN,14826.59,NaN,NaN,NaN,NaN,...,12001.44,NaN,NaN,17536.09,10505.70,10.675940,16374.93,NaN,134818.8,NaN
3,1991Q3,6371.975,NaN,20408.96,NaN,12690.13,NaN,NaN,NaN,NaN,...,12429.65,NaN,NaN,14657.51,12132.41,13.381980,17147.92,NaN,127887.5,NaN
4,1991Q4,5084.412,NaN,21662.54,NaN,13268.09,NaN,NaN,NaN,NaN,...,12062.84,NaN,NaN,17396.43,11752.21,18.382570,16794.44,NaN,137634.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2017Q3,16770.970,720194.3,59437.88,90699.26,61736.42,115.8469,17700.18,531477.9,52637.89,...,107666.90,1290.058,25.48270,43234.80,58368.11,95786.190000,82612.97,1290.058,374427.1,3631192.0
108,2017Q4,14745.500,735916.6,58454.59,88748.78,55125.52,121.1300,18825.41,552142.0,57857.50,...,110265.10,1467.184,28.52851,48239.38,56796.56,114474.600000,83571.29,1467.184,395461.9,3810925.0
109,2018Q1,14262.010,NaN,56989.81,85198.43,54994.27,116.7996,19143.87,NaN,57096.06,...,105758.20,1569.471,27.04031,46676.40,57476.45,109945.100000,76497.67,1569.471,385749.9,3619569.0
110,2018Q2,14454.230,NaN,60143.25,84912.30,59141.24,126.2617,18995.88,NaN,57455.02,...,110839.10,NaN,28.77668,47477.92,57318.32,126211.000000,79850.02,NaN,404231.9,3682867.0
111,2018Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
exports_quartely = exports_quart.iloc[1:]
exports_quartely.rename(columns = {'Unnamed: 0':'Year_Quartely'}, inplace = True)
exports_quartely=exports_quartely.fillna(0)

C:\Users\balub\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [22]:
exports_quartely

,Year_Quartely,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
1,1991Q1,4416.531,0.0,18101.60,0.00,13168.76,0.0000,0.00,0.0,0.00,...,11251.91,0.000,0.00000,16794.79,10477.56,9.175394,14286.69,0.000,128363.7,0.0
2,1991Q2,6318.661,0.0,20387.41,0.00,14826.59,0.0000,0.00,0.0,0.00,...,12001.44,0.000,0.00000,17536.09,10505.70,10.675940,16374.93,0.000,134818.8,0.0
3,1991Q3,6371.975,0.0,20408.96,0.00,12690.13,0.0000,0.00,0.0,0.00,...,12429.65,0.000,0.00000,14657.51,12132.41,13.381980,17147.92,0.000,127887.5,0.0
4,1991Q4,5084.412,0.0,21662.54,0.00,13268.09,0.0000,0.00,0.0,0.00,...,12062.84,0.000,0.00000,17396.43,11752.21,18.382570,16794.44,0.000,137634.3,0.0
5,1992Q1,4724.392,0.0,19736.18,0.00,13636.11,0.0000,0.00,0.0,0.00,...,11953.98,0.000,0.00000,17557.24,11931.11,17.588660,16101.55,0.000,139734.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,2017Q3,16770.970,720194.3,59437.88,90699.26,61736.42,115.8469,17700.18,531477.9,52637.89,...,107666.90,1290.058,25.48270,43234.80,58368.11,95786.190000,82612.97,1290.058,374427.1,3631192.0
108,2017Q4,14745.500,735916.6,58454.59,88748.78,55125.52,121.1300,18825.41,552142.0,57857.50,...,110265.10,1467.184,28.52851,48239.38,56796.56,114474.600000,83571.29,1467.184,395461.9,3810925.0
109,2018Q1,14262.010,0.0,56989.81,85198.43,54994.27,116.7996,19143.87,0.0,57096.06,...,105758.20,1569.471,27.04031,46676.40,57476.45,109945.100000,76497.67,1569.471,385749.9,3619569.0
110,2018Q2,14454.230,0.0,60143.25,84912.30,59141.24,126.2617,18995.88,0.0,57455.02,...,110839.10,0.000,28.77668,47477.92,57318.32,126211.000000,79850.02,0.000,404231.9,3682867.0
111,2018Q3,0.000,0.0,0.00,0.00,0.00,0.0000,0.00,0.0,0.00,...,0.00,0.000,0.00000,0.00,0.00,0.000000,0.00,0.000,0.0,0.0

In [23]:
exports_mon

,Unnamed: 0,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Singapore,Sub-Saharan Africa developing,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members)
0,1991M01,1265.303,3313.754,5502.346,NaN,4896.404,NaN,NaN,NaN,NaN,...,4014.566,NaN,NaN,5493.817,3313.754,2.651407,5268.258,NaN,41353.47,168083.9
1,1991M02,1518.856,NaN,5708.852,NaN,3887.668,NaN,NaN,NaN,NaN,...,3175.083,NaN,NaN,5402.757,3152.839,2.588754,4161.086,NaN,40909.06,NaN
2,1991M03,1632.372,NaN,6890.402,NaN,4384.693,NaN,NaN,NaN,NaN,...,4062.258,NaN,NaN,5898.220,4010.966,3.935234,4857.343,NaN,46101.14,NaN
3,1991M04,1884.038,NaN,6524.655,NaN,5119.613,NaN,NaN,NaN,NaN,...,3896.417,NaN,NaN,6062.707,3425.034,3.178725,4778.434,NaN,45152.55,NaN
4,1991M05,2302.835,NaN,7145.694,NaN,4917.469,NaN,NaN,NaN,NaN,...,3908.034,NaN,NaN,5544.209,3584.901,3.911652,5758.457,NaN,45104.24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2018M05,4816.634,NaN,20025.570,28613.68,19284.530,41.77341,6488.860,NaN,19095.95,...,38430.160,NaN,9.767317,16014.380,20213.180,44712.290000,27710.600,NaN,136559.90,1233690.0
329,2018M06,4678.404,NaN,21514.230,28093.34,20220.210,43.83378,6309.378,NaN,19538.32,...,36101.530,NaN,9.919567,16035.700,19859.370,42321.980000,26755.980,NaN,136749.60,1246063.0
330,2018M07,NaN,NaN,NaN,NaN,22464.320,NaN,NaN,NaN,17102.93,...,37948.720,NaN,NaN,13735.090,18668.800,48067.830000,27016.640,NaN,126438.50,1227797.0
331,2018M08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27080.790,NaN,NaN,NaN
332,2018M09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
exports_mon.rename(columns = {'Unnamed: 0':'Year_Month'}, inplace = True)

In [25]:
exports_mon=exports_mon.fillna(0)
year_mon = []
year_qrt = []
year = []
for i in exports_mon['Year_Month']:
    year.append(i[0:4])
    year_mon.append(month_dict[i[5:]])
    year_qrt.append(get_quarter(i[5:]))
exports_mon['Year_Month'] = year_mon
exports_mon['Year'] = year
exports_mon['Quarter'] = year_qrt
exports_mon.rename(columns = {'Year_Month':'Month'}, inplace = True)

In [26]:
exports_mon

,Month,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members),Year,Quarter
0,January,1265.303,3313.754,5502.346,0.00,4896.404,0.00000,0.000,0.0,0.00,...,0.000000,5493.817,3313.754,2.651407,5268.258,0.0,41353.47,168083.9,1991,Q1
1,February,1518.856,0.000,5708.852,0.00,3887.668,0.00000,0.000,0.0,0.00,...,0.000000,5402.757,3152.839,2.588754,4161.086,0.0,40909.06,0.0,1991,Q1
2,March,1632.372,0.000,6890.402,0.00,4384.693,0.00000,0.000,0.0,0.00,...,0.000000,5898.220,4010.966,3.935234,4857.343,0.0,46101.14,0.0,1991,Q1
3,April,1884.038,0.000,6524.655,0.00,5119.613,0.00000,0.000,0.0,0.00,...,0.000000,6062.707,3425.034,3.178725,4778.434,0.0,45152.55,0.0,1991,Q2
4,May,2302.835,0.000,7145.694,0.00,4917.469,0.00000,0.000,0.0,0.00,...,0.000000,5544.209,3584.901,3.911652,5758.457,0.0,45104.24,0.0,1991,Q2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,May,4816.634,0.000,20025.570,28613.68,19284.530,41.77341,6488.860,0.0,19095.95,...,9.767317,16014.380,20213.180,44712.290000,27710.600,0.0,136559.90,1233690.0,2018,Q2
329,June,4678.404,0.000,21514.230,28093.34,20220.210,43.83378,6309.378,0.0,19538.32,...,9.919567,16035.700,19859.370,42321.980000,26755.980,0.0,136749.60,1246063.0,2018,Q2
330,July,0.000,0.000,0.000,0.00,22464.320,0.00000,0.000,0.0,17102.93,...,0.000000,13735.090,18668.800,48067.830000,27016.640,0.0,126438.50,1227797.0,2018,Q3
331,August,0.000,0.000,0.000,0.00,0.000,0.00000,0.000,0.0,0.00,...,0.000000,0.000,0.000,0.000000,27080.790,0.0,0.00,0.0,2018,Q3
332,September,0.000,0.000,0.000,0.00,0.000,0.00000,0.000,0.0,0.00,...,0.000000,0.000,0.000,0.000000,0.000,0.0,0.00,0.0,2018,Q3

In [27]:
exchange_mon.head()

,Month,Afghanistan,Angola,Albania,United Arab Emirates,Argenti0,Armenia,Developing Asia,Antigua and Barbuda,Australia,...,Viet0m,Vanuatu,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Zimbabwe,Year,Quarter
0,December,0.0,0.0,0.0,3.675,0.0,0.0,190.3592,0.0,1.164807,...,0.0,0.0,76.76546,0.0,0.0,2.349682,0.0,0.0,1988,Q4
1,January,0.0,0.0,0.0,3.675,0.0,0.0,191.0076,0.0,1.148810,...,0.0,0.0,77.67523,0.0,0.0,2.385500,0.0,0.0,1989,Q1
2,February,0.0,0.0,0.0,3.675,0.0,0.0,191.9781,0.0,1.169614,...,0.0,0.0,77.53630,0.0,0.0,2.458750,0.0,0.0,1989,Q1
3,March,0.0,0.0,0.0,3.675,0.0,0.0,193.4470,0.0,1.223637,...,0.0,0.0,78.12339,0.0,0.0,2.539391,0.0,0.0,1989,Q1
4,April,0.0,0.0,0.0,3.675,0.0,0.0,195.0895,0.0,1.243114,...,0.0,0.0,78.43185,0.0,0.0,2.548200,0.0,0.0,1989,Q2

In [28]:
cpi_mon.head()

,Month,Afghanistan,Albania,United Arab Emirates,Armenia,Developing Asia,Antigua and Barbuda,Austria,Azerbaijan,Burundi,...,St. Vincent and the Grenadines,"Venezuela, RB",Vietnam,World (WBG members),Samoa,"Yemen, Rep.",South Africa,Zambia,Year,Quarter
0,December,0.0,0.0,0.0,0.0,33.23211,0.0,63.07520,0.0,0.0,...,0.0,0.199333,0.0,48.23800,0.0,0.0,19.62482,0.095229,1988,Q4
1,January,0.0,0.0,0.0,0.0,34.38592,0.0,63.63636,0.0,0.0,...,0.0,0.201556,0.0,48.59190,0.0,0.0,19.91342,0.095229,1989,Q1
2,February,0.0,0.0,0.0,0.0,34.60887,0.0,63.74860,0.0,0.0,...,0.0,0.207910,0.0,48.75023,0.0,0.0,20.20202,0.095229,1989,Q1
3,March,0.0,0.0,0.0,0.0,35.11426,0.0,63.86083,0.0,0.0,...,0.0,0.252126,0.0,49.03835,0.0,0.0,20.49062,0.095229,1989,Q1
4,April,0.0,0.0,0.0,0.0,35.52607,0.0,64.08530,0.0,0.0,...,0.0,0.286180,0.0,49.49379,0.0,0.0,20.77922,0.095229,1989,Q2

In [29]:
exports_mon.head()

,Month,Argentina,Developing Asia,Australia,Belgium,Brazil,Canada,Chile,China,Czech Republic,...,Slovakia,Sweden,Thailand,Turkey,"Taiwan, China",Uganda,United States,World (WBG members),Year,Quarter
0,January,1265.303,3313.754,5502.346,0.0,4896.404,0.0,0.0,0.0,0.0,...,0.0,5493.817,3313.754,2.651407,5268.258,0.0,41353.47,168083.9,1991,Q1
1,February,1518.856,0.000,5708.852,0.0,3887.668,0.0,0.0,0.0,0.0,...,0.0,5402.757,3152.839,2.588754,4161.086,0.0,40909.06,0.0,1991,Q1
2,March,1632.372,0.000,6890.402,0.0,4384.693,0.0,0.0,0.0,0.0,...,0.0,5898.220,4010.966,3.935234,4857.343,0.0,46101.14,0.0,1991,Q1
3,April,1884.038,0.000,6524.655,0.0,5119.613,0.0,0.0,0.0,0.0,...,0.0,6062.707,3425.034,3.178725,4778.434,0.0,45152.55,0.0,1991,Q2
4,May,2302.835,0.000,7145.694,0.0,4917.469,0.0,0.0,0.0,0.0,...,0.0,5544.209,3584.901,3.911652,5758.457,0.0,45104.24,0.0,1991,Q2

In [30]:
with pd.ExcelWriter("Deloitte_Case_Study.xlsx") as writer:
    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
    cpi_mon.to_excel(writer, sheet_name="CPI", index=False)
    exchange_mon.to_excel(writer, sheet_name="EXCHANGE", index=False)
    exports_mon.to_excel(writer, sheet_name="EXPORTS", index=False)